.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.col.center-x {
    align-items: center;
}

.col.center-y {
    justify-content: center;
}

.row.center-y {
    align-items: center;
}

.row.center-x {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}