@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:wght@100;200;300;400;500;600;700;800&family=Inter:wght@200;400;600;800&family=Jost:wght@200;300;400;500;600;700&family=Open+Sans+Condensed:wght@300;700&family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

.theme {
    --font: 'Inter', sans-serif;
    --title-font: 'Inter', sans-serif;
}

.theme-light {
    --cbg: rgb(255, 255, 255);
    --cfaint: white;
    --ccontrast: black;
    --ctext: black;
    --caccent: rgb(0, 0, 0);
    --caccent-faint: rgb(135, 253, 174);
    --ccontrast-shadow: rgba(0, 0, 0, var(--sopac));
    --caccent-shadow: rgba(0, 0, 0, var(--sopac));
}

.theme-dark {
    --cbg: #2a2a2e;
    --cfaint: #38383d;
    --ccontrast: rgb(12, 12, 13);
    --ctext: #d7d7db;
    --caccent: rgb(12, 12, 13);
    --caccent-faint: #9400ff;
    --ccontrast-shadow: rgba(12, 12, 13, var(--sopac));
    --caccent-shadow: rgba(12, 12, 13, var(--sopac));
}

.artdeco  {
    --font: 'Roboto', sans-serif;
    --title-font: 'Playfair Display', serif;

    --br: 5;
    --ssmth: 0px;
    --sopac: 0.4;
    --bthic: 1;
    --soffx: 0;
    --soffy: 1;
}

.artdeco-light {
    --cbg: #e4eee4;
    --cfaint: #f1faee;
    --ccontrast: rgb(44, 29, 87);
    --ctext: rgb(44, 29, 87);
    --caccent: rgb(230, 57, 70);
    --caccent-faint: #f1faee;
    --ccontrast-shadow: rgba(69, 123, 157, var(--sopac));
    --caccent-shadow: rgba(230, 57, 70, var(--sopac));
} 

.artdeco-dark  {
    --cbg: rgb(0,43,54);
    --cfaint: rgb(7,54,66);
    --ccontrast: rgb(218, 183, 151);
    --ctext: rgb(218, 183, 151);
    --caccent: rgb(112, 202, 235);
    --caccent-faint: rgb(7,54,66);
    --ccontrast-shadow: rgba(0, 0, 0, var(--sopac));
    --caccent-shadow: rgba(112, 202, 235, var(--sopac));
}

.minimalist {
    --font: 'Roboto', sans-serif;
    --title-font: 'Rubik', sans-serif;
    --title-weight: 500;

    --br: 1.5;
    --ssmth: 20px;
    --sopac: 1;
    --bthic: 0;
    --soffx: -1;
    --soffy: 1;
}

.minimalist-light {
    --cbg: rgb(228, 255, 246);
    --cfaint: rgb(228, 255, 246);
    --ccontrast: #242749;
    --ctext: #242749;
    --caccent: rgb(36, 39, 73);
    --caccent-faint: rgb(228, 255, 246);
    --ccontrast-shadow: rgba(197, 209, 212, var(--sopac));
    --caccent-shadow: rgba(197, 209, 212, var(--sopac));
}

.minimalist-dark {
    --cbg: #242749;
    --cfaint: #242749;
    --ccontrast: #a2c4ac;
    --ctext: #a2c4ac;
    --caccent: #a2c4ac;
    --caccent-faint: #242749;
    --ccontrast-shadow: rgba(31, 26, 56, var(--sopac));
    --caccent-shadow: rgba(31, 26, 56, var(--sopac));
}