.main-theme {
    --font: sans-serif;
    --title-font: serif;
    --title-weight: bold;

    --br: 0.2;
    --ssmth: 0px;
    --sopac: 1;
    --bthic: 2;
    --soffy: 1;
    --soffx: -0.7;
    --trans: 0.7;

    --global-size: 49px;

    --pi-fact: 0.2;
    --mi-fact: 0.3;
    --sm-fact: 0.4;
    --md-fact: 0.56;
    --lg-fact: 0.75;
    --xl-fact: 1;
    --xxl-fact: 1.5;
    --mega-fact: 1.7;
    --giga-fact: 2.4;
}

@media (max-width: 3900px) {
    .main-theme {
        --global-size: 128px;
    }
}

@media (max-width: 3400px) {
    .main-theme {
        --global-size: 120px;
    }
}

@media (max-width: 3000px) {
    .main-theme {
        --global-size: 100px;
    }
}

@media (max-width: 2500px) {
    .main-theme {
        --global-size: 75px;
    }
}

@media (max-width: 2000px) {
    .main-theme {
        --global-size: 58px;
    }
}

@media (max-width: 1700px) {
    .main-theme {
        --global-size: 54px;
    }
}

@media (max-width: 1500px) {
    .main-theme {
        --global-size: 48px;
    }
}

@media (max-width: 1200px) {
    .main-theme {
        --global-size: 45px;
    }
}

@media (max-width: 800px) {
    .main-theme {
        --global-size: 38.5px;
    }
}

@media (max-width: 500px) {
    .main-theme {
        --global-size: 32.5px;
    }
}

@media (max-width: 400px) {
    .main-theme {
        --global-size: 30px;
    }
}

@media (max-width: 370px) {
    .main-theme {
        --global-size: 27px;
    }
}

@media (max-width: 350px) {
    .main-theme {
        --global-size: 25px;
    }
}

@media (max-width: 320px) {
    .main-theme {
        --global-size: 21px;
    }
}

@media (max-width: 250px) {
    .main-theme {
        --global-size: 18px;
    }
}

.theme-compute {
    --pi: calc(var(--pi-fact) * var(--global-size));
    --mi: calc(var(--mi-fact) * var(--global-size));
    --sm: calc(var(--sm-fact) * var(--global-size));
    --md: calc(var(--md-fact) * var(--global-size));
    --lg: calc(var(--lg-fact) * var(--global-size));
    --xl: calc(var(--xl-fact) * var(--global-size));
    --xxl: calc(var(--xxl-fact) * var(--global-size));
    --mega: calc(var(--mega-fact) * var(--global-size));
    --giga: calc(var(--giga-fact) * var(--global-size));

    --padd: 0.4em;
    --marg: 0.4em;
    --bord: calc(var(--bthic) * calc(0.025 * var(--global-size)));
    --brad: calc(var(--br) * 0.25em);
    --shad-offx: calc(var(--soffx) * 0.2em);
    --shad-offy: calc(var(--soffy) * 0.2em);
    --shad-offx-large: calc(var(--soffx) * 0.3em); 
    --shad-offy-large: calc(var(--soffy) * 0.3em);
}