/* TEST FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:wght@100;200;300;400;500;600;700;800&family=Inter:wght@200;400;600;800&family=Jost:wght@200;300;400;500;600;700&family=Open+Sans+Condensed:wght@300;700&family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Fira Mono', monospace;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

.main-theme {
    --font: 'Inter', sans-serif;
    --title-font: 'Inter', sans-serif;
    --title-weight: bold;

    --br: 0.2;
    --ssmth: 0px;
    --sopac: 1;
    --bthic: 2;
    --soffy: 1;
    --soffx: -1;
    --trans: 1;

    --global-size: 49px;

    --pi-fact: 0.2;
    --mi-fact: 0.3;
    --sm-fact: 0.4;
    --md-fact: 0.56;
    --lg-fact: 0.75;
    --xl-fact: 1;
    --xxl-fact: 1.5;
    --mega-fact: 1.75;
    --giga-fact: 2.5;
}

@media (max-width: 3900px) {
    .main-theme {
        --global-size: 128px;
    }
}

@media (max-width: 3400px) {
    .main-theme {
        --global-size: 120px;
    }
}

@media (max-width: 3000px) {
    .main-theme {
        --global-size: 100px;
    }
}

@media (max-width: 2500px) {
    .main-theme {
        --global-size: 75px;
    }
}

@media (max-width: 2000px) {
    .main-theme {
        --global-size: 58px;
    }
}

@media (max-width: 1700px) {
    .main-theme {
        --global-size: 54px;
    }
}

@media (max-width: 1500px) {
    .main-theme {
        --global-size: 48px;
    }
}

@media (max-width: 1200px) {
    .main-theme {
        --global-size: 45px;
    }
}

@media (max-width: 800px) {
    .main-theme {
        --global-size: 38.5px;
    }
}

@media (max-width: 500px) {
    .main-theme {
        --global-size: 32.5px;
    }
}

@media (max-width: 400px) {
    .main-theme {
        --global-size: 30px;
    }
}

@media (max-width: 370px) {
    .main-theme {
        --global-size: 27px;
    }
}

@media (max-width: 350px) {
    .main-theme {
        --global-size: 25px;
    }
}

@media (max-width: 320px) {
    .main-theme {
        --global-size: 21px;
    }
}

@media (max-width: 250px) {
    .main-theme {
        --global-size: 18px;
    }
}

.theme-compute {
    --pi: calc(var(--pi-fact) * var(--global-size));
    --mi: calc(var(--mi-fact) * var(--global-size));
    --sm: calc(var(--sm-fact) * var(--global-size));
    --md: calc(var(--md-fact) * var(--global-size));
    --lg: calc(var(--lg-fact) * var(--global-size));
    --xl: calc(var(--xl-fact) * var(--global-size));
    --xxl: calc(var(--xxl-fact) * var(--global-size));
    --mega: calc(var(--mega-fact) * var(--global-size));
    --giga: calc(var(--giga-fact) * var(--global-size));

    --padd: 0.4em;
    --marg: 0.4em;
    --bord: calc(var(--bthic) * calc(0.025 * var(--global-size)));
    --brad: calc(var(--br) * 0.25em);
    --shad-offx: calc(var(--soffx) * 0.2em);
    --shad-offy: calc(var(--soffy) * 0.2em);
    --shad-offx-large: calc(var(--soffx) * 0.3em); 
    --shad-offy-large: calc(var(--soffy) * 0.3em);
}

.light-theme {
    --cbg: rgb(255, 255, 255);
    --cfaint: white;
    --ccontrast: black;
    --ctext: black;
    --caccent: rgb(0, 0, 0);
    --caccent-faint: rgb(208, 255, 169);
    --ccontrast-shadow: rgba(0, 0, 0, var(--sopac));
    --caccent-shadow: rgba(0, 0, 0, var(--sopac));
}

.editor-theme {
    --font: 'Jost', sans-serif;
    --br: 3;
    --ssmth: 10px;
    --sopac: 0.1;
    --bthic: 0;

    --cbg: white;
    --cfaint: white;
    --ccontrast: black;
    --ctext: black;
    --caccent: rgb(32, 29, 44);
    --caccent-faint: rgb(219, 255, 248);
    --ccontrast-shadow: rgba(0, 0, 0, var(--sopac));
    --caccent-shadow: rgba(32, 29, 44, var(--sopac));
}

.programming-slides-theme {
    --font: 'Roboto', sans-serif;
    --title-font: 'Jetbrains Mono', sans-serif;
    --title-weight: 500;

    --br: 0;
    --ssmth: 15px;
    --sopac: 0.5;
    --bthic: 0.1;
    --soffx: 0;
    --soffy: 0.5;

    --cbg: rgb(0, 0, 0);
    --cfaint: rgb(0, 0, 0);
    --ccontrast: rgb(94, 255, 129);
    --ctext: rgb(188, 202, 188);
    --caccent: rgb(94, 255, 129);
    --caccent-faint: rgb(0, 0, 0);
    --ccontrast-shadow: rgba(94, 255, 129, var(--sopac));
    --caccent-shadow: rgba(94, 255, 129, var(--sopac));
}